@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Momo+Trust+Display&family=Rammetto+One&display=swap');

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 -webkit-tap-highlight-color: transparent;
}

:root {
 --percentage: 25%;
 --logo-color-right: #829CEE;
 --logo-color-left: #2AD1E2;
}

body {
 padding: 1rem;
 width: 100vw;
 min-height: 100vh;
 font-family: "Lexend Deca", sans-serif;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 25px;
}

.logo-box {
 border: 1px solid hsla(225.56, 76.06%, 72.16%, 25%);
 border-radius: 25px;
 align-self: center;
 justify-self: flex-start;
 height: auto;
 padding: 0 1em;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 
 cursor: default;
}

@property --gradient-angle {
 syntax: "<angle>";
 initial-value: 90deg;
 inherits: false;
}   

@keyframes rotate-gradient {
 from {
  --gradient-angle: 0deg;
 }
 to {
  --gradient-angle: 360deg;
 }
}

.logo {
 font-family: "Momo Trust Display", sans-serif;
 font-size: clamp(1rem, 5vw + 10px, 2rem);
 text-align: center;

 background: linear-gradient(var(--gradient-angle), var(--logo-color-left), var(--logo-color-right) 50%);
 animation: rotate-gradient 0.5s infinite;

 -webkit-background-clip: text;
 background-clip: text;

 color: transparent;
 transition: --gradient-angle 1s ease;
}

/* @media (height <= 800px) {
 .logo-box {
  position: relative;
  top: 0;
  left: 0;
  justify-self: flex-start;
 }
 body {
  gap: 50px;
 }
} */

#auth-container {
 width: min(600px, 90%);
}

:is(#sign-up-form, #log-in-form, #forgot-pass-form) {
 display: none;
}

:is(#sign-up-form, #log-in-form, #forgot-pass-form).active {
 display: flex;
}

.auth-form {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.auth-form .header {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 gap: 20px;
}

.auth-form .header h2 {
 font-size: clamp(1rem, 3vw + 16px, 2rem);
 font-weight: 500;
}

.auth-form .header p {
 font-size: clamp(1rem, 3vw + 8px, 1.75rem);
 font-weight: 300;
}

.auth-form .header p:nth-of-type(2) {
 padding: 0.50em;
 width: 100%;
 font-size: clamp(0.25rem, 3vw, 1.050rem);
 color: #590d22;
 background-color: #ffccd5;
 border-left: 5px solid #590d22;
 text-align: left;
 /* letter-spacing: 1px; */
}

.auth-form .header #success-message {
 background-color: #bee9e85d;
 color: #1b4965;
 border-color: #1b4965;
}

.auth-form .input-box {
 display: flex;
 flex-direction: column;
 gap: 15px;
}

.auth-form label {
 display: block;
 font-weight: 300;
 font-size: 1.10rem;
}

.auth-form .input-box input {
 width: 100%;
 font-family: "Lexend Deca", sans-serif;
 font-size: clamp(1rem, 2vw + 5px, 1.15rem);
 padding: 0.7em;
 margin-top: 5px;
 border: 1px solid #829CEE;
 outline: none;
}

.auth-form .input-box input:invalid {
 border-bottom: 1px solid red;
}

/* .auth-form .input-box input:valid {
 border: 1px solid #1bacbb;
} */

.auth-form .username-code {
 display: flex;
 gap: 15px;
}

.auth-form .username-code > .username {
 flex: 1 500px;
}

.auth-form .consent {
 text-align: center;
 font-size: clamp(0.75rem, 3vw, 1rem);
 font-weight: 300;
}

.auth-form .quess-or-login {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 gap: 15px;
}

.auth-form .quess-or-login a {
 font-size: clamp(1rem, 3vw + 2px ,1.2rem);
 text-decoration: none;
 color: #5553C6;
}

.auth-form .quess-or-login button {
 background: none;
 outline: none;
 border: none;
 color: #5553C6;

 font-family: "Lexend Deca", sans-serif;

 font-size: clamp(1rem, 3vw + 2px ,1.2rem);
 cursor: pointer;
}

.auth-form .quess-or-login button:active {
 transform: scale(0.950);
}

.auth-form button:is([name="signup"], [name="login"], [name="recover_password"]) {
 font-family: "Lexend Deca", sans-serif;
 font-size: 1.15rem;
 padding: 0.7em;
 border: none;

 background: hsla(225.56, 76.06%, 72.16%, 50%);
 cursor: pointer;
}

.auth-form button:is([name="signup"], [name="login"], [name="recover"]):hover {
 background: hsla(225.56, 76.06%, 72.16%, 35%);
}

.auth-form button:is([name="signup"], [name="login"], [name="recover"]):active {
 transform: scale(0.975);
}

.auth-form input[class="recover-input"]::placeholder {
 font-weight: 300;
 font-style: italic;
}

footer {
 text-align: center;
 font-family: "Lexend Deca", sans-serif;
 justify-self: flex-end;
}

footer h4 {
 font-size: clamp(0.825rem, 2vw, 1rem);
 font-weight: 300;
 color: #5d5d5d;
}

footer a {
 text-decoration: none;
 color: #296071;
}

footer a:hover {
 text-decoration: underline;
 color: #4f8393;
}

/* @media (height < 800px) {
 footer {
  position: relative;
  bottom: 0;
  right: 0;
  justify-self: flex-end;
  text-align: center;
 }
} */