@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Momo+Trust+Display&family=Rammetto+One&display=swap');

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

:root {
 --percentage: 25%;
 --logo-color-right: #829CEE;
 --logo-color-left: #2AD1E2;
}

body {
 font-family: "Lexend Deca", sans-serif;
 min-height: 100vh;
}

/* ! nav-styles */



/* ! hero styles */
.hero {
  height: 575px;
  background-image: linear-gradient(to right, rgba(0,0,0,0.7) 25%, rgba(0,0,0,0.1)), url('../images/webp/img1.webp');
  background-size: cover;
  background-position: center;
  transition: background 0.8s ease-in-out;
  color: white;
}

#hero .hero-inside {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 height: inherit;
 max-width: 1300px;
 width: 90%;
 margin: 0 auto;
 position: relative;
 /* gap: 25px; */
}

#hero .hero-content {
 height: inherit;
 display: flex;
 flex-direction: column;
 max-width: 500px;
 padding-top: 5%;
}

.hero-content h1 {
  font-size: clamp(1rem, 5vw + 5px, 3rem); /* Fluid typography */
  margin-bottom: 1rem;
  font-weight: 400;
}

.hero-content p {
 font-size: clamp(0.5rem, 3vw + 5px, 1.50rem);
 font-weight: 300;
 margin-bottom: 1rem;
}

.hero-nav {
  position: absolute;
  bottom: -20%;
  display: flex;
  flex-direction: column;
}

.thumbnails {
  display: flex;
  gap: 2%;
  z-index: 997;
}

.thumb {
  width: 35%;
  max-width: 200px;
  min-width: 80px;
  aspect-ratio: 1 / 1;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.3s;
}

.thumb.active {
 border-color: white;
 box-shadow: 0 2px 5px gray;
}

.dots {
  position: absolute;
  bottom: 7%;
  right: 0;
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: white;
  transform: scale(1.5);
 }

@media (width <= 1025px) {
 #hero .hero-content {
  padding: 0;
  height: auto;
  align-self: center;
  text-align: center;
 }

 .hero-nav {
  position: relative;
  bottom: 0;
  align-self: center;
 }

 .dots {
  display: none;
 }
}

/* ! main styles */

#why-you-need-moveOn {
 display: flex;
 flex-direction: column;
 justify-content: center;
 max-width: 1300px;
 margin: 175px auto;
 gap: clamp(50px, 5vw, 125px);
 /* margin-top: 175px; */
 padding: 1.5rem;
}

@media (width <= 1025px) {
 #why-you-need-moveOn {
  margin: 60px 0;
 }
}

#why-you-need-moveOn .header :is(h1, span) {
 font-size: clamp(1.5rem, 5vw + 5px, 2.5rem);
 color: black;
}

#why-you-need-moveOn .header h1 {
 text-align: center;
 font-weight: 400;
}

#why-you-need-moveOn .feature {
 display: flex;
 justify-content: space-between;
 gap: 50px;
 align-items: center;
}

@media (width <= 750px) {
 #why-you-need-moveOn .feature {
  flex-wrap: wrap;
 }
}

.feature img {
 width: 100%;
 min-width: 120px;
 max-width: 375px;
 height: auto;
}

.feature {
 padding: 3em;
 background: hsla(225.56, 76.06%, 72.16%, 15%);
}

.feature.reverse {
 flex-direction: row-reverse;
 background: none;
}

.caption h2 {
 font-size: clamp(1.5rem, 5vw + 5px, 3rem);
}

.caption h2:last-of-type {
 font-weight: 400;
 margin-bottom: 0.5em;
}

.caption p {
 font-size: clamp(0.5rem, 3vw + 2px, 1.5rem);
 font-weight: 300;
}

.caption.right {
 text-align: right;
}

#why-you-need-moveOn blockquote {
 text-align: left;
 display: flex;
 justify-content: center;
}

#why-you-need-moveOn blockquote > p {
 max-width: 800px;
 margin: 0 2rem;
 border-left: 5px solid #6b85db;
 padding-left: 1em;
 font-size: clamp(0.8rem, 3vw + 5px, 1.7rem);
 font-weight: 300;
 letter-spacing: 0.1em;
}

#why-you-need-moveOn blockquote .logo-text {
 font-family: "Momo Trust Display", sans-serif;
}

/* ! footer styles */

