@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Momo+Trust+Display&family=Rammetto+One&display=swap');

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

:root {
 --percentage: 25%;
 --logo-color-right: #829CEE;
 --logo-color-left: #2AD1E2;
}

body {
 width: 100vw;
 min-height: 100vh;
 font-family: "Lexend Deca", sans-serif;
 padding: 1rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.logo-box {
 border: 1px solid hsla(225.56, 76.06%, 72.16%, 25%);
 border-radius: 25px;
 align-self: center;
 height: auto;
 padding: 0 1em;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
 
 position: absolute;
 top: 2rem;
 left: 2rem;
}

.logo {
 font-family: "Momo Trust Display", sans-serif;
 font-size: clamp(1rem, 5vw + 10px, 2rem);
 text-align: center;

 background: linear-gradient(to right, var(--logo-color-left), var(--logo-color-right) 50%);

 -webkit-background-clip: text;
 background-clip: text;

 color: transparent;
}

@media (height <= 700px) {
 .logo-box {
  position: relative;
  top: 0;
  left: 0;
  justify-self: flex-start;
 }
 body {
  gap: 20px;
 }
}

main {
 width: 100%;
}

#main-container {
 width: min(600px, 90%);
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 row-gap: 25px;
}

#main-container .header-1 {
 font-size: clamp(1.25rem, 3vw + 5px, 1.85rem);
 font-weight: 400;
}

#main-container .header-2 {
 font-size: clamp(1rem, 2vw + 10px, 1.5rem);
 text-align: center;
 font-weight: 300;
}

#sub-container {
 display: flex;
 flex-direction: column;
 gap: 20px
}

#sub-container .header-q {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

#options-container {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

#optionsContainer {
 display: flex;
 flex-direction: column;
 gap: 15px;
}

#optionsContainer label {
 background-color: hsla(225.56, 76.06%, 72.16%, 25%);
 padding: calc(1em - 2px);
 text-align: center;
 font-size: clamp(1rem, 2vw, 1.125rem);
 font-weight: 300;
 cursor: pointer;
}

@keyframes slideIn {
 from {
  opacity: 0;
  transform: translateX(50px);
 }
 to {
  opacity: 1;
  transform: translateX(0);
 }
}

#optionsContainer label:nth-child(1) {
 opacity: 0;
 animation: slideIn 0.5s ease forwards;
}

#optionsContainer label:nth-child(2) {
 opacity: 0;
 animation: slideIn 0.5s ease forwards;
 animation-delay: 0.2s;
}

#optionsContainer label:nth-child(3) {
 opacity: 0;
 animation: slideIn 0.5s ease forwards;
 animation-delay: 0.4s;
}

#optionsContainer label:nth-child(4) {
 opacity: 0;
 animation: slideIn 0.5s ease forwards;
 animation-delay: 0.6s;
}

#optionsContainer label:nth-child(5) {
 opacity: 0;
 animation: slideIn 0.5s ease forwards;
 animation-delay: 0.8s;
}

#optionsContainer label:nth-child(6) {
 opacity: 0;
 animation: slideIn 0.5s ease forwards;
 animation-delay: 1s;
}

#optionsContainer input[type="radio"] {
 appearance: none;
}

#optionsContainer label:has(input[type="radio"]:checked) {
 border-bottom: 3px solid black;
 background: hsla(225.56, 76.06%, 72.16%, 50%);
}

#optionsContainer label:has(input[type="radio"]:hover) {
 background: hsla(225.56, 76.06%, 72.16%, 50%);
}

#optionsContainer label:has(input[type="radio"]:active) {
 transform: scale(0.975);
} 


/* ! color emotions for 2nd question */
#optionsContainer label.colorize:nth-child(1) {
 background-color: hsla(4.62, 51.59%, 49.41%, var(--percentage));
}

#optionsContainer label.colorize:nth-child(2) {
 background-color: hsla(242.76, 69.72%, 57.25%, var(--percentage));
}

#optionsContainer label.colorize:nth-child(3) {
 background-color: hsla(284.25, 38.46%, 59.22%, var(--percentage));
}

#optionsContainer label.colorize:nth-child(4) {
 background-color: hsla(344.26, 100%, 76.08%, var(--percentage));
}

#optionsContainer label.colorize:nth-child(5) {
 background-color: hsla(73.93, 37.84%, 70.98%, var(--percentage));
}

#optionsContainer label.colorize:nth-child(6) {
 background-color: hsla(225.56, 76.06%, 72.16%, var(--percentage));
}

#buttons-q-nav {
 display: flex;
 justify-content: space-between;
}

#buttons-q-nav button {
 font-size: 1.1rem;
 font-family: "Lexend Deca", sans-serif;
 font-weight: 300;
 background-color: transparent;
 padding: 0.80em 0.90em;
 cursor: pointer;
 outline: none;
 border: none;
}

footer {
 text-align: right;
 font-family: "Lexend Deca", sans-serif;
 position: absolute;
 bottom: 2rem;
 right: 2rem;
}

footer h4 {
 font-size: clamp(0.825rem, 2vw, 1rem);
 font-weight: 300;
 color: #5d5d5d;
}

footer a {
 text-decoration: none;
 color: #296071;
}

footer a:hover {
 text-decoration: underline;
 color: #4f8393;
}

@media (height < 750px) {
 footer {
  position: relative;
  bottom: 0;
  right: 0;
  justify-self: flex-end;
  text-align: center;
 }
}