@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Momo+Trust+Display&family=Rammetto+One&display=swap');

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

:root {
 --percentage: 25%;
 --logo-color-right: #829CEE;
 --logo-color-left: #2AD1E2;
}

body {
 font-family: "Lexend Deca", sans-serif;
 min-height: 100vh;
}

#header-nav li:nth-of-type(2) a {
 background: linear-gradient(to right, #2ad0e27b, #829CEE7b 25%);
 border: none;
 border-bottom: 2px solid black;
 color: black;
}

#app-container {
 width: min(90%, 1400px);
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 margin: 0 auto;
}

/* ! music section */
#app-container .music-section {
 width: 650px;
 min-height: 750px;
 height: auto;
 padding: 2em 0;
 margin: 0 auto;
}

#app-container .music-container {
 width: 100%;
 height: 100%;
 border: 2px solid #625FE9;
 border-radius: 15px;
 display: flex;
 flex-direction: column;
 padding: 1em;
 gap: 1em;
}

.music-container .playlist-tab {
 flex: 1;
 border-radius: 13px;
 cursor: pointer;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 padding: 1em;

 min-width: 275px;

 position: relative;
}

.playlist-tab .title {
 font-size: clamp(1rem, 5vw, 3rem);
}

.playlist-tab .description {
 font-size: clamp(0.925rem, 3vw, 1.125rem);
 margin: 0 2em;
 opacity: 0;
 transform: translateY(20px);
}

.playlist-tab :is(h1, p, img) {
 position: absolute;
 z-index: 2;
 transition: all 0.4s ease-in-out;
}

.playlist-tab img {
 width: clamp(75px, 25vw, 175px);
 bottom: 1em;
 right: 1em;
 z-index: 1;
}

.playlist-tab:hover .title {
 opacity: 0;
 transform: translateY(-20px);
}

.playlist-tab:hover .description {
 opacity: 1;
 transform: translateY(0);
}

.playlist-tab:hover img {
 transform: rotate(360deg);
}

.music-container .submerged-playlist {
 background: linear-gradient(to bottom, #780000, #DE0000);
 color: #FFCCCC;
}

.music-container .ascendant-playlist {
 background: linear-gradient(to bottom, #023047, #0575AD);
 color: #9CDCFC;
}



/* ! sidebar */

#app-container .sidebar {
 width: 650px;
 padding: clamp(0.2em, 3vw, 2em);
 display: flex;
 flex-direction: column;
 gap: 15px;
 /* background: lightblue; */
 min-height: 100%;
}

.sidebar header {
 line-height: clamp(1.5em, 5vw, 2.5em);
}

.sidebar header > h1 {
 font-size: clamp(1.5rem, 5vw, 3rem);
}

.sidebar header > p {
 font-size: clamp(1.2rem, 3vw, 2rem);
 font-weight: 300;
}

.sidebar .info-input {
 display: flex;
 flex-direction: column;
 /* background-color: red; */
 flex: 1;
 gap: 15px;
}

.sidebar .card-tutorial {
 background: hsla(350, 75.82%, 64.31%, 20%);
 padding: 1em;
 border-left: 5px solid #E95F76;
}

.sidebar .card-research {
 background: hsla(225.56, 76.06%, 72.16%, 20%);
 padding: 1em;
 font-size: clamp(0.6rem, 2vw + 2px, 1rem);
 font-weight: 300;
}

.sidebar :is(.card-tutorial h2, .card-research h2) {
 font-size: clamp(1.1rem, 3vw, 1.5rem);
 font-weight: 300;
 margin-bottom: 0.3em;
}

.sidebar .card-tutorial ul {
 font-size: clamp(0.6rem, 2vw + 2px, 1rem);
 margin-left: 1em;
 font-weight: 300;
}

.sidebar .music-image {
 flex: 1;
 min-height: 100px;
 background-image: url("https://i.pinimg.com/736x/15/7b/01/157b01fdb897a98fb36cbdb6546b9272.jpg");
 background-size: cover;
 background-position: center;
 border-radius: 15px;

 position: relative;
 overflow: hidden;
}

.music-image .title-container {
 position: absolute;
 bottom: 0;
 background: rgba(0, 0, 0, 0.397);
 color: white;
 /* height: 65%; */
 width: 100%;
 padding: 0.5em 1em;

 display: flex;
 flex-direction: column;
 justify-content: flex-end;
}

.sidebar .music-player {
 /* flex: 1; */
 background: #E9ECEF;
 border: 1px solid #0C535A;
 box-shadow: 0 5px 5px rgba(128, 128, 128, 0.5);
 border-radius: 15px;
 padding: 1em;
}

.music-player .music-controller {
 background: white;
 border-radius: 13px;

 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-items: center;
 padding: 0.5em;
 gap: 25px;
}

.music-controller .music-element {
 display: flex;
 height: 100%;
 flex: 1;
 align-items: center;
}

.music-controller .music-element:nth-child(1) {
 /* background: gray; */
 justify-content: space-between;
 flex: 2;
 gap: 15px;
}

.music-controller .music-element:nth-child(1) input {
 flex: 1;
 cursor: pointer;
}

.music-controller .music-element:nth-child(2) {
 /* background: gray; */
 justify-content: space-between;
 gap: 25px;
}

.controls .play-btn {
 font-size: 2.2rem;
 height: 100%;
 width: 60px;

 border: none;
 outline: none;

 border-radius: 11px;
 background-color: #8AE6F0;
}

.controls button {
 cursor: pointer;
}

.controls button:nth-child(-n + 2) {
 font-size: 2rem;
 background: none;
 border: none;
}


@media (width <= 1444px) {
 #app-container .sidebar {
  width: 100%;
 }
 .sidebar .info-input {
  flex-direction: column-reverse;
 }
 .sidebar .input-area {
  flex: 1 300px;
 }
}