@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Momo+Trust+Display&family=Rammetto+One&display=swap');

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

:root {
 --percentage: 25%;
 --logo-color-right: #829CEE;
 --logo-color-left: #2AD1E2;
}

body {
 font-family: "Lexend Deca", sans-serif;
 min-height: 100vh;
}

#header-nav li:nth-of-type(1) a {
 background: linear-gradient(to right, #2ad0e27b, #829CEE7b 25%);
 border: none;
 border-bottom: 2px solid black;
 color: black;
}

#app-container {
 width: min(90%, 1400px);
 display: flex;
 flex-wrap: wrap;
 margin: 0 auto;
}

#app-container .jar-section {
 width: 700px;
 min-height: 750px;
 height: auto;
 padding: 2em;
 margin: 0 auto;
}

.jar-section .jar {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
}

.jar .jar-lid {
 background: #BB9457;
 width: 100%;
 height: 15%;
 border-radius: 25px;
 border: 5px solid #260701;
}

.jar .jar-body {
 background: hsla(0, 0%, 75.69%, 25%);
 backdrop-filter: blur(8px);
 border: 5px solid #260701;
 height: 85%;
 width: inherit;
 align-self: flex-end;
 border-top-right-radius: clamp(70px, 10vw, 150px);
 border-top-left-radius: clamp(70px, 10vw, 150px);
 border-bottom-left-radius: 50px;
 border-bottom-right-radius: 50px;
 position: relative;
}

.jar-body #jar-reflection {
 position: absolute;
 right: 5%;
 top: 10%;
 width: 12%;
}

@media (width <= 781px) {
 #app-container .jar-section {
  width: 600px;
  min-height: 650px;
 }
}

@media (width <= 688px) {
 #app-container .jar-section {
  width: 500px;
  min-height: 550px;
 }
 .jar-body #jar-reflection {
  top: 12%;
 }
}

@media (width <= 580px) {
 #app-container .jar-section {
  width: 400px;
  min-height: 450px;
 }
 .jar-body #jar-reflection {
  top: 12%;
 }
}

 
#app-container .sidebar {
 flex: 1;
 padding: clamp(0.2em, 3vw, 2em);
 display: flex;
 flex-direction: column;
 gap: 15px;
 /* background: lightblue; */
 min-height: 100%;
}

.sidebar header {
 line-height: clamp(1.5em, 5vw, 2.5em);
}

.sidebar header > h1 {
 font-size: clamp(1.5rem, 5vw, 3rem);
}

.sidebar header > p {
 font-size: clamp(1.2rem, 3vw, 2rem);
 font-weight: 300;
}

.sidebar .card-tutorial {
 background: hsla(350, 75.82%, 64.31%, 20%);
 padding: 1em;
 border-left: 5px solid #E95F76;
}

.sidebar .card-research {
 background: hsla(225.56, 76.06%, 72.16%, 20%);
 padding: 1em;
}

.sidebar :is(.card-tutorial h2, .card-research h2) {
 font-size: clamp(1.1rem, 3vw, 1.5rem);
 font-weight: 300;
 margin-bottom: 0.3em;
}

.sidebar .card-tutorial ul {
 font-size: clamp(0.6rem, 2vw + 2px, 1rem);
 margin-left: 1em;
 font-weight: 300;
}

.sidebar .card-research {
 font-size: clamp(0.6rem, 2vw + 2px, 1rem);
 font-weight: 300;
}

.sidebar .input-area {
 background: #E9ECEF;
 border: 1px solid #0C535A;
 box-shadow: 0 5px 5px rgba(128, 128, 128, 0.5);
 border-radius: 15px;
 flex: 1;
 padding: 1em;
}

.input-area form {
 width: 100%;
 height: 100%;
 background: white;
 border-radius: 13px;
 padding: 1em;

 display: flex;
 flex-wrap: wrap;
 gap: 1em;
}

.input-area textarea {
 flex: 2 350px;
 border: none;
 outline: none;
 resize: none;

 font-family: "Lexend Deca", sans-serif;
 font-weight: 300;
 font-size: clamp(0.7rem, 3vw, 1.1rem);
}

/* .input-area textarea::placeholder {
 font-weight: 300;
} */

.input-area button {
 flex: 1;
 padding: clamp(0.5em, 3vw, 1em);
 display: inline-flex;
 flex-direction: column;
 justify-content: center;
 border-radius: 11px;

 border: none;

 background: #8AE6F0;
 color: #0C535A;
 cursor: pointer;

 font-size: clamp(0.6rem, 3vw + 5px, 1.5rem);
}

@media (width <= 1181px) {
 .sidebar .input-area {
  flex: 1 300px;
 }
}