#header-nav {
 width: 100vw;
 border-bottom: 1px solid #969696;
 background: hsla(0, 0%, 92.55%, 25%);
 backdrop-filter: blur(5px);
 position: sticky;
 top: 0;
 z-index: 999;
}

#header-nav nav {
 margin: 0 auto;
 width: min(90%, 1400px);

 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 padding: 1em;
 gap: 25px;
}

.logo-box {
 border: 1px solid hsla(225.56, 76.06%, 72.16%, 25%);
 background: hsla(0, 100%, 100%, 75%);
 backdrop-filter: blur(10px);
 border-radius: 25px;
 align-self: center;
 justify-self: flex-start;
 height: auto;
 padding: 0 1em;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 
 cursor: default;
}

@property --gradient-angle {
 syntax: "<angle>";
 initial-value: 90deg;
 inherits: false;
}   

@keyframes rotate-gradient {
 from {
  --gradient-angle: 0deg;
 }
 to {
  --gradient-angle: 360deg;
 }
}

.logo {
 font-family: "Momo Trust Display", sans-serif;
 font-size: clamp(1rem, 5vw + 10px, 2rem);
 text-align: center;

 background: linear-gradient(var(--gradient-angle), var(--logo-color-left), var(--logo-color-right) 50%);
 animation: rotate-gradient 0.5s infinite;

 -webkit-background-clip: text;
 background-clip: text;

 color: transparent;
 transition: --gradient-angle 1s ease;
}

#profile .profile-circle {
 width: 47px;
 height: 47px;
 background: linear-gradient(4deg, #2AD1E2, #829CEE);
 border-radius: 50%;
 border: 1px solid;
 cursor: pointer;
}

.dropdown-profile {
 position: relative;
 display: inline-block;
}

.dropdown-list {
 position: absolute;
 right: 0;
 width: 200px;
 display: none;
 flex-direction: column;
 background: hsla(0, 0%, 92.55%, 50%);
 backdrop-filter: blur(10px);
 padding: 0.3em;
 gap: 4px;
}

.dropdown-profile:hover .dropdown-list {
  display: flex;
}

#profile #view-profile-btn,
.dropdown-list button {
 font-family: "Lexend Deca", sans-serif;
 width: 100%;
 font-size: 1rem;
 font-weight: 400;
 text-align: left;
 padding: 0.6em;
 text-decoration: none;
 cursor: pointer;

 border: none;
 color: black;
 background-color: white;
}

#profile #view-profile-btn {
 background: #0e1f57;
 color: #8ba0e5;
}

.dropdown-list button:nth-child(1) {
 background-color: #ff758f;
 color: #590d22;
}

#header-nav #navigation-buttons {
 flex: 1;
 display: flex;
}

#header-nav ul {
 margin: 0 auto;
 display: inline-flex;
 gap: 25px;
 /* background-color: red; */
}

#navigation-buttons ul {
 list-style: none;
}

#header-nav a {
 text-decoration: none;
 font-size: 1.125rem;
 color: #5d5d5d;
 padding: 0.25em 0.50em;
 border: 1px solid #969696;
 background: hsla(0, 100%, 100%, 75%);
 backdrop-filter: blur(10px);
}

#burger-btn {
 display: none;
}

#burger-btn i {
 font-size: 2.25rem;
 cursor: pointer;
 color: #5872c6;
}

@media (width <= 950px) {
 #header-nav :is(#navigation-buttons, #profile) {
  display: none;
 }
 #burger-btn {
  display: block;
 }
}

/* ! nav style extend */

#nav-resp {
 display: none;
}

@media (width <= 950px) {

 #nav-resp.active {
  display: block;
 }

 #nav-resp {
  width: 100vw;
  position: fixed;
  background: hsla(0, 0%, 100%, 0.6);
  backdrop-filter: blur(10px);
  z-index: 998;
 }

 #nav-resp li:nth-last-child(-n + 4) a {
  display: block;
  text-decoration: none;
  padding: 1em;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  font-weight: bold;
  color: #0e1f57;
 }

 #nav-resp li:nth-last-child(-n + 4):hover a {
  color: #00259f;
  text-decoration: underline;
 }

 #nav-resp li:nth-child(1) .nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em;
  background: #8996c0;
  border-bottom: 1px solid #1a2c68;
  border-top: 2px solid #1a2c68;
 }

 .nav-btn #profile {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 0.5em;
  border-radius: 10px;
  background: #0e1f57;
  color: #6b85db;
  cursor: pointer;
 }

 .nav-btn .func-btn {
  display: inline-flex;
  gap: 10px;
 }

 .nav-btn .log-out-btn {
  font-size: 2rem;
  padding: 0.25em;
  margin: 0;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #c9184a;
  color: #fff0f3;
 }

 .nav-btn .setting-btn {
  font-size: 2rem;
  padding: 0.25em;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #0e1f57;
  color: #6b85db;
  cursor: pointer;
 }

 #profile .view-profile {
  margin-right: 5px;
 }
}